<Config>
  <!--  if enabled, skills won't be evaluated. everybody will be healed
				with set amount of health
				default: 1.5, minimum 0.1. anything less will be equal to 0				-->
  <StaticHealing enabled="false">1.5</StaticHealing>
  
	<!--  formula is ((athletics + medicine) / 2) * Multipler
				result is rounded to single precision floating point (ie. 0.5 vs 0.47)
				default: 0.06, minimum 0.01                                       -->
	<MultiplerHealing enabled="true">0.06</MultiplerHealing>
	
  <!-- 
				If you enable both, they will stack
																																					-->
  
	<!--  true: currently mounted agents are not awarded hit points
				false: currently mounted agents are awarded hit points
				default: true. fuck cavalry                                       -->
	<ExcludeCavalry>true</ExcludeCavalry> 
	
	<!--  true: hit points are awarded only for player character
				false: hit points are awarded for everyone, including enemies
				default: false                                                    -->
	<PlayerOnly>false</PlayerOnly>
	
	<!--  true: hit points are awarded when agent kills somebody
				false: hit points are awarded when agent hits somebody
				default: true                                                     -->
	<KillBased>true</KillBased>

	<!--  true: hit points will not exceed max agent hit points
				false: hit points will exceed max agent hit points (berserker mode?)
				default: true                                                     -->
	<LimitedByMaxHealth>true</LimitedByMaxHealth>

  <!--  true: hit points will only be granted to named characters
				false: hit points will be granted to all characters
				default: true                                                     -->
  <OnlyNamedCharacters>true</OnlyNamedCharacters>
	
	<!--  toggles debug data in messagebox
				default: false                                                    -->
	<DebugOutput>false</DebugOutput>
</Config>